$danger: red;
$background: lightblue;
$primary: salmon;

@import "bootstrap/scss/bootstrap";

body {
  background-color: $danger;
}

.imagepp {
  margin: auto;
  text-align: center;
  padding: 20px;
}
